---
---
@import "bootstrap"
@import "fontawesome"


a, a:hover
    text-decoration: none

div.spacing
    z-index: -1

div.figure
    text-align: center
    p img
        max-width: 100%

h1.poorman-thumbnail
    margin: 0
    font-size: 320%
    line-height: 2.0
    text-shadow: 2px 3px #fff

ul ul
    margin-top: ($line-height-computed / 2)

hr.mainlist
    margin-top: 0.25em
    margin-bottom: 0.25em

ul.mainlist
    list-style-position: inside
    margin: 0
    padding: 0

a.mainlist
    font-size: 15px
    color: #678191
    font-weight: 400

html, body, div.container
    height: 100%

.lineno
  color: #ccc
  display: inline-block
  padding: 0 5px
  border: 0px
  border-right: 1px solid #ccc
  margin-bottom: 0px
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.rouge-code pre
  padding: 0px
  border: 0px
  margin-bottom: 0px

pre.highlight
  margin: 0 0 0 0px
  padding: 0px
  padding-bottom: 0px
  border: 0px
  height: calc(100% - 20px)

table.rouge-table
  padding: 0px
  border-top: 0px
  margin-bottom: 0px


#main-row
    min-height: 100%

#mini-pager-older, #mini-pager-newer
    margin: 0


@media (max-width: $screen-xs-max)
    #leftbar, #rightbar
        position: fixed
        z-index: $zindex-navbar
        background: #fff
    #leftbar
        border-bottom: thin solid #ddd
    #rightbar
        border-top: thin solid #ddd
        bottom: 0
        padding: $padding-base-vertical $padding-base-horizontal
        ul.list-inline
            margin: 0

@media (max-width: $screen-sm-max)
    ul.list-group > li.list-group-item
        line-height: 2.0

@media (min-width: $screen-sm-min)
    #leftbar, #rightbar
        height: 100%
        overflow: auto
        position: fixed
    #rightbar
        right: 0
