---
---

<div class="row-fluid">

  <div class="visible-lg-inline">
    <img class="img-responsive img-rounded" src="./images/daemon.png">
  </div>

  <div class="col-xs-12 col-sm-8 col-md-6">
    <hr />
    <h4> <i class="far fa-folder-open bb"></i> <f style="color: #428bca"> &nbsp; CTF posting </f></h4>
    <hr class="mainlist"/>
    <ul class="mainlist">
    {% for post in site.tags['CTF'] limit:10 %}
        <li>
          {% if post.categories[2] == 'new' %}
            <span class="label label-info">new</span>
          {% endif %}
        <a class="mainlist" href="{{ site.baseurl }}{{ post.url }}">&nbsp;{{ post.title }}</a>
        <hr class="mainlist"/>
        </li>
    {% endfor %}
    </ul>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-6">
    <hr />
    <h4> <i class="far fa-folder-open bb"></i> <f style="color: #428bca"> &nbsp; Study posting </f></h4>
    <hr class="mainlist"/>
    <ul class="mainlist">
    {% for post in site.tags['paper'] limit:10 %}
        <li>
          {% if post.categories[2] == 'new' %}
            <span class="label label-info">new</span>
          {% endif %}
        <a class="mainlist" href="{{ site.baseurl }}{{ post.url }}">&nbsp;{{ post.title }}</a>
        <hr class="mainlist"/>
        </li>
    {% endfor %}
    </ul>
  </div>
</div>

<div class="clearfix"></div>
<hr />

<div class="text-center">
</div>
