<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">powerprove</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Shin jae wook</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Date of birth</label>
                <span class="value">December 10, 1997</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adress</label>
                <span class="value">Seoul, KR</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">blanknhide@naver.com</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="#" target="_blank">powerprove.github.io</a></span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            I am a security engineer dedicated to protecting corporate assets and enhancing the security of enterprise solutions and products.
            <i class="fa fa-quote-right"></i>  
        </p>
        
         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            I worked for 3 years as a security engineer at a major enterprise, focusing on protecting corporate assets, conducting internal security assessments, and improving the security of enterprise products.
            <br><br>
            I’ve reported multiple critical vulnerabilities through bug bounty programs and developed browser and Android exploits for N-Day vulnerabilities.
            <br><br>
            To further enhance my offensive security skills, I also competed in national and international CTF competitions, frequently reaching the finals and achieving top placements.
            <i class="fa fa-quote-right"></i>  

        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.jpg" alt="" />
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">SKILL & Interest</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-tag"></i></div>
                <div class="service-detail">
                    <h6>Penetration test</h6>
                    <p>Discovering Web vulnerabilities</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-cogs"></i></div>
                <div class="service-detail">
                    <h6>SoftWare Security</h6>
                    <p>Window reversing, Software Exploit</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-arrows-alt"></i></div>
                <div class="service-detail">
                    <h6>IoT Hacking</h6>
                    <p>IPC, Android, TV, Kernel</p>
                </div>
            </div>
        </div>
     </div> 
</div><!-- End Services -->



<!-- service 2 -->
<div class="clear"></div>
<div class="border-list"></div>

<div class="row">
<div class="col-md-12">
    <div class="bottom-p">
        <div class="title_content">
            <div class="text_content">My Info</div>
            <div class="clear"></div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">               	
                            WORK EXPERIENCE
                            <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">Samsung SDS <a style="font-size: 13px; color:#999">Security Engineer, Advanced Penetration Test Group</a> </div>  Exploited any device/system associated with Samsung. <p style="font-size:8px"> (2022.01 ~ Present) </p> </br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">NCSOFT <a style="font-size: 13px; color:#999">intern, Service Platform Security</a> </div>Development of Data Leakage Prevention Solutions <p style="font-size:8px"> (2021.07 ~ 2021.08) </p> 
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                            PenTest Work EXPERIENCE
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">NCSOFT <a style="font-size: 13px; color:#999">Web, Pentest </a> </div> NCSOFT Homepage penetration testing <p style="font-size:8px"> (2021.01 ~ 2021.06) </p> </br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">Korea Catholic University<a style="font-size: 13px; color:#999">Pentest</a> </div> Korea Catholic University Homepage penetration testing <p style="font-size:8px"> (2016.07 ~ 2021.06) </p> 
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                            Education
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">Computer Science and Information Engineering <a style="font-size: 13px; color:#999">B.S, Korea Catholic University</a> </div><p style="font-size:8px"> (2016.03 ~ 2022.02) </p> 
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                            Another Activities Group
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">Null@Root <a style="font-size: 13px; color:#999">Member, </a><a href="https://null2root.github.io/about" style="font-size: 11px;">link</a> </div>group of IT security analysts / professionals / researchers / hobbyists in South Korea.  <p style="font-size:8px"> (2018.12 ~ Present) </p> </br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">CAT-CERT <a style="font-size: 13px; color:#999">OB, </a> </div> Korea Catholic University Computer Emergency Response Team <p style="font-size:8px"> (2016.03 ~ 2021.02) </p> 
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- end service 2 -->

<!-- service 3 -->
<div class="clear"></div>

<div class="row">
<div class="col-md-12">
    <div class="bottom-p">
        <div class="title_content">
            <div class="text_content">Additional Activities</div>
            <div class="clear"></div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">               	
                            Capture The Flag(CTF) Hacking Contests
                            <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">Defcon 2025 <a style="font-size: 13px; color:#999">Finalist, 2025</a> </div> Team Cold Fusion <p style="font-size:8px"> </p> </br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">Cyber Conflict Excercise 2023(CCE) <a style="font-size: 13px; color:#999">Finalist, 2023</a> </div> Team Null@Root  <p style="font-size:8px"> </p> </br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">Financial Institutes’ Event on Security Threat Analysis 2021(FIESTA) <a style="font-size: 13px; color:#999">Silver Prize, 2021</a> </div> Team CAT-Security  <p style="font-size:8px"> </p> </br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">Samsung CTF 2021(SSCTF) <a style="font-size: 13px; color:#999">9rd, 2021</a> </div> Team CAT-Security  <p style="font-size:8px"> </p> </br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">Cyber Conflict Excercise 2020(CCE) <a style="font-size: 13px; color:#999">Finalist, 2020</a> </div> Team Null@Root  <p style="font-size:8px"> </p> </br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">Codegate 2020 <a style="font-size: 13px; color:#999">Finalist, 2020</a> </div> Team CAT-Security  <p style="font-size:8px"> </p> </br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">Cyber Conflict Excercise 2019(CCE, Blue Team) <a style="font-size: 13px; color:#999">Finalist, 2019</a> </div> Team Null@Root  <p style="font-size:8px"> </p> </br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">Cyber Guardians League 2018 <a style="font-size: 13px; color:#999">4rd Prize, 2018</a> </div> Team CAT-Security  <p style="font-size:8px"> </p> </br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">Samsung CTF 2018 <a style="font-size: 13px; color:#999">Finalist, 2018</a> </div> individual  <p style="font-size:8px"> </p> </br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">Codegate 2018 <a style="font-size: 13px; color:#999">Finalist, 2018</a> </div> Team CAT-Security  <p style="font-size:8px"> </p> </br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">FUST FESTIVAL 2017 <a style="font-size: 13px; color:#999">Silver Prize, 2017</a> </div> Team CAT-Security  <p style="font-size:8px"> </p> </br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">KISA SW DEV Security 2017 <a style="font-size: 13px; color:#999">Silver Prize, 2017</a> </div> Team CAT-Security  <p style="font-size:8px"> </p> </br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">Cyber Conflict Excercise 2017(CCE, Red Team)<a style="font-size: 13px; color:#999">Finalist, 2017</a> </div> Team CAT-Security  <p style="font-size:8px"> </p> </br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">WhiteHat Contest 2017(WITHCON) <a style="font-size: 13px; color:#999">Finalist, 2017</a> </div> Team CAT-Security  <p style="font-size:8px"> </p> </br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">Hacking Defense CONtest 2017(HDCON) <a style="font-size: 13px; color:#999">Finalist, 2017</a> </div> Team CAT-Security  <p style="font-size:8px"> </p> </br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">Codegate 2017 <a style="font-size: 13px; color:#999">Finalist, 2017</a> </div> Team CAT-Security  <p style="font-size:8px"> </p> </br>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                            Another Honors & Award
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">WooriBank Contest 2021(WooriCON) <a style="font-size: 13px; color:#999">Silver Prize, 2021</a> </div> Team CAT-Security  <p style="font-size:8px"> </p> </br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">Naver bugbounty Hall of Fame 2019 <a style="font-size: 13px; color:#999">10rd, 2019</a> </div> individual  <p style="font-size:8px"> </p> </br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">FINANCIAL SECURITY INSTITUTE BUGBOUNTY 2019 <a style="font-size: 13px; color:#999">Recognition Award , 2019</a> </div> individual  <p style="font-size:8px"> </p> </br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">Korea Catholic University Programming 2017<a style="font-size: 13px; color:#999">3rd prize , 2017</a> </div> Team OSS  <p style="font-size:8px"> </p> </br>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                            Reported Security Vulnerabilities
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">KVE-2025-0356 <a style="font-size: 13px; color:#999">Window Software, RCE</a> </div><br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">KVE-2025-0074 <a style="font-size: 13px; color:#999">Window Software, RCE</a> </div><br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">KVE-2025-0058 <a style="font-size: 13px; color:#999">IoT, RCE</a> </div><br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">KVE-2024-0236 <a style="font-size: 13px; color:#999">Window Software, RCE</a> </div><br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">KVE-2024-0163 <a style="font-size: 13px; color:#999">Window Software, RCE</a> </div><br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">KVE-2024-0076 <a style="font-size: 13px; color:#999">Window Software, RCE</a> </div><br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">KVE-2023-5460 <a style="font-size: 13px; color:#999">Window Software, RCE</a> </div><br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">KVE-2023-5060 <a style="font-size: 13px; color:#999">Window Software, FileDownload</a> </div><br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">CVE-2021-26618 <a style="font-size: 13px; color:#999">Window Software, RCE</a> </div><br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">KVE-2021-0061 <a style="font-size: 13px; color:#999">Window Program, RCE</a> </div><br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">CVE-2020-9751 <a style="font-size: 13px; color:#999">Naver Window Program, RCE</a> </div><br>
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">CVE-2019-13157 <a style="font-size: 13px; color:#999">Naver Window Program, RCE</a> </div><br>
                    </div>
                </div>
            </div>
        </div>

        <br>

    </div>
</div>
</div>
<!-- end service 4 -->

<!-- service 2 -->
<div class="clear"></div>
<div class="border-list"></div>

<div class="row">
<div class="col-md-12">
    <div class="bottom-p">
        <div class="title_content">
            <div class="text_content">Reference</div>
            <div class="clear"></div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">0xdkay <a href="https://0xdkay.me/" style="font-size: 13px; color:#999">Blog Link</a></div> Dongkwan Kim, 0xdkay@gmail.com </br>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div style="font-size: 20px; font-weight: bold; color:#3B5998">Dyrandy <a href="https://dyrandy.github.io/about/" style="font-size: 13px; color:#999">Blog Link</a> </div>jihun8862@gmail.com, member of Null@Root, Huge Fan of “Kakao Friends”</br>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- end service 4 -->

<div class="clear"></div>
</div>
<!-- End .profile -->